<h2 mat-dialog-title>Update Product</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Product Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <select matNativeControl required>
          <option value="Product">Product 1</option>
          <option value="Product">Product 2</option>
          <option value="Product">Product 3</option>
          <option value="Product">Product 4</option>
        </select>
      </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Add</button>
</mat-dialog-actions>

