<mat-toolbar color="primary" class="header-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Semitronics Admin</span>
    <div *ngIf="!isFullPage">
        <button mat-raised-button>Change password</button>
        <button mat-icon-button matTooltip="notifications" color="accent"><mat-icon [matBadge]="4" matBadgeColor="warn">notifications</mat-icon></button>
        <button mat-icon-button matTooltip="logout" (click)="logout()"><mat-icon>logout</mat-icon></button>
    </div>
</mat-toolbar>
<mat-sidenav-container hasBackdrop="false" *ngIf="!isFullPage">
    <mat-sidenav mode="side" opened disableClose fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <mat-accordion class="side-nav-accordion">
                <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
                <a mat-list-item routerLink="/dealers" routerLinkActive="active-link">Dealers</a>
                <a mat-list-item routerLink="/clients">Clients</a>
                <a mat-list-item routerLink="/staff">Staff</a>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Item</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/dashboard">Sub Item</a>
                        <a mat-list-item routerLink="/dashboard">Sub Item</a>
                        <a mat-list-item routerLink="/dashboard">Sub Item</a>
                        <a mat-list-item routerLink="/dashboard">Sub Item</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-container *ngTemplateOutlet="routerTemplate"></ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="login-container" *ngIf="isFullPage">
    <ng-container *ngTemplateOutlet="routerTemplate"></ng-container>
</div>
<ng-template #routerTemplate>
    <router-outlet></router-outlet>
</ng-template>
<mat-toolbar class="footer-toolbar" *ngIf="!isFullPage">
    <span>Copyrights © 2021. All Rights Reserved by Semitronics.</span>
</mat-toolbar>