<mat-toolbar color="primary" class="header-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Semitronics Admin &#10148; {{routePathService.routePath}}</span>
    <div *ngIf="!isFullPage">
        <button mat-raised-button>Change password</button>
        <button mat-icon-button matTooltip="notifications" color="accent"><mat-icon [matBadge]="4" matBadgeColor="warn">notifications</mat-icon></button>
        <button mat-icon-button matTooltip="logout" (click)="logout()"><mat-icon>logout</mat-icon></button>
    </div>
</mat-toolbar>
<mat-sidenav-container hasBackdrop="false" *ngIf="!isFullPage">
    <mat-sidenav mode="side" opened disableClose fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <mat-accordion class="side-nav-accordion">
                <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
                <a mat-list-item routerLink="/dealers" routerLinkActive="active-link">Dealers</a>
                <a mat-list-item routerLink="/clients" routerLinkActive="active-link">Clients</a>
                <a mat-list-item routerLink="/staff" routerLinkActive="active-link">Staff</a>
                <a mat-list-item routerLink="/currency" routerLinkActive="active-link">Manage Currency</a>
                <a mat-list-item routerLink="/country" routerLinkActive="active-link">Manage Location</a>
               

                
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Contacts</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/contact-group">Manage Group</a>
                        <a mat-list-item routerLink="/contacts">Manage Contacts</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>

                <a mat-list-item routerLink="/uom" routerLinkActive="active-link">UOM</a>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Tax</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/tax-group">Manage Group</a>
                        <a mat-list-item routerLink="/tax">Manage Tax Rate</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>HSN/SAC</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/hsn-group">Manage HSN Group</a>
                        <a mat-list-item routerLink="/hsn">Manage HSN Code</a>
                        <a mat-list-item routerLink="/sac-group">Manage SAC Group</a>
                        <a mat-list-item routerLink="/sac">Manage SAC</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Promotions</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/promotion-group">Promotion Group</a>
                        <a mat-list-item routerLink="/promotion">Manage Promotions</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Users</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/user-type">User Types</a>
                        <a mat-list-item routerLink="/users">Manage Users</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Seller</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/seller-group">Manage Seller Group</a>
                        <a mat-list-item routerLink="/seller">Manage Sellers</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Brand</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/brand-group">Manage Brand Group</a>
                        <a mat-list-item routerLink="/brand">Manage Brands</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Product</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/product-group">Manage Product Group</a>
                        <a mat-list-item routerLink="/product">Manage Product</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>


                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Service</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/service-group">Manage Service Group</a>
                        <a mat-list-item routerLink="/service">Manage Service</a>
                       
                    </mat-nav-list>
                </mat-expansion-panel>

                <a mat-list-item routerLink="/orders" routerLinkActive="active-link">Orders</a>


                
            </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-container *ngTemplateOutlet="routerTemplate"></ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="login-container" *ngIf="isFullPage">
    <ng-container *ngTemplateOutlet="routerTemplate"></ng-container>
</div>
<ng-template #routerTemplate>
    <router-outlet></router-outlet>
</ng-template>
<mat-toolbar class="footer-toolbar" *ngIf="!isFullPage">
    <span>Copyrights © 2021. All Rights Reserved by Semitronics.</span>
</mat-toolbar>