<div class="data-container">
    <div class="action-container one-button" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Search By Currency Name</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-icon-button color="primary">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <button mat-raised-button color="primary" (click)="openAddCurrencyDialog()"><mat-icon>add</mat-icon> Add Currency</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="currencyId">
            <th mat-header-cell *matHeaderCellDef> Currency ID </th>
            <td mat-cell *matCellDef="let element"> {{element.currencyId}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Currency Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Currency Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Currency Symbol </th>
            <td mat-cell *matCellDef="let element"> <span [innerHtml]="element.symbol | safehtml"> </span> </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="openUpdateCurrencyDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef> Remove </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>