<h2 mat-dialog-title>Update Currency</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Currency Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Currency Code</mat-label>
        <input matInput>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Update</button>
</mat-dialog-actions>

